/* Letters Styling */
    * {
        font-family: sans-serif;}

    h1 {
        margin: 20px auto auto auto;
        font-size: 50px;
        text-align: center}

       
    h2 {
        font-size: 40px;
        margin: 0px 0px 0px 0px;
        text-align: center;}
        
    
    h3 {
        font-size: 30px;
        margin: 40px 0 0 280px;}
    
    .hobbies {
        font-size: 15px;}
    
    .profiel-text-container {
        max-width: 700px;
        border: solid 3px #333;
        margin: 10px}

    .profiel-text {
        margin: 10px
    }   

/* Einde letters stylign */

/* Basis styling */
    body {
        background-color: #f0f0f0;
        margin: 0;
        min-height: 300px;
        margin-bottom: 100px}
/*
    .midden-stuk {
        background: #333;
        color: white;
        text-align: center;
        padding: 50px 20px;
        margin-top: 25px
    }
*/
    table, td, th {
        border : 1px solid blue;
        border-collapse: collapse;}
        
    tr {
        text-align: center;}
    
    .faq-container {
        display: flex;
        justify-content:center;
        flex-direction: column;
        width: 590px;
        margin: 40px auto 0px auto;
        font-size: 20px; 
    
    }

    .faq-questions {
        border: solid 1px #333;
        margin: 30px 0px 0px 0px;}
        
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;}

    .grid-item {
        height: 150px;
        border: solid 4px #333;
        border-radius: 10px;
        border-collapse: collapse;
        margin: 10px 5px 0px 5px;
        padding: 10px;}

    .text {
        margin: 3px 0 0 0;
        text-align: center
    }

    .readmore {
        display: inline-block;
        padding: 10px 20px;
        background-color: #333;
        text-decoration: none;
        border-radius: 10px;
        transition: background-color 0.4s;
        margin: 10px 0 0px 300px;
        text-align: center}
      
    .readmore:hover {
        background-color: #555;}

    .readmore:visited {
        color: white}

    .blog-text {
        margin: 40px 50px 10px 30px;
        font-size: 25px;
        max-width: 1500px;
        border: solid 3px #333;
        padding: 10px 20px}
    
    .blog-foto-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;
        max-width: 2000px;
        margin: 0 auto 0px 0px;
        padding: 20px 10px;}

    

    .blog-foto {
        width: 100%;
        max-width: 350px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
        margin: 10px 0px 0px 50px}

    .schema {
        width: 98%;
        margin: 25px 0px 0px 10px;
        border: solid 3px #333}



/* Einde basis styling */
    
/* Navigation bar*/
    nav {
        box-sizing: border-box;
        width: 100%;
        background-color: #333;
        padding: 0px 10px;
        margin: 0;}

    .nav-content {
        display: flex;
        justify-content: space-between; 
        align-items: center;} 


    .navigation-bar {
        list-style-type: none;           
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        padding: 0;
        margin: 0;}

/* Links */
    .navigation-links {
        font-size: 25px;
        margin: 0px 10px;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: background-color 0.4s;}

    .hzlogo {
        margin-left: auto}

    img {
        height: 25px}

    li a:hover {
        background-color: #555;
        color: white;} 
    
  
/* Begin kleuren voor de links: */
     a:link {
        color: white;
        text-decoration: }
        
     .navigation bar a:hover {
        color: white;}

    .faq-links {
        color: blue}
    
     
     
     /* Laat zien op welke pagina je zit */
        #startpagina {
            background-color: #555;
            color: white;}
        #profiel {
            background-color: #555;
            color: white}
        #dashboard {
            background-color: #555;
            color: white}
        #faq {
            background-color: #555;
            color: white}
        #blog {
            background-color: #555;
            color: white}
        
/* Einde kleuren voor de links */

/* Einde Links */



/* Footer styling */
    footer {
        box-sizing: border-box;
        text-align: center;
        padding: 20px;
        background-color: #333;
        color: white;
        position: fixed;
        width: 100%;
        bottom: 0px;}

    .footer-container {
        display: flex;
        justify-content: space-between; /* Ruimte tussen de links */
        align-items: center; /*Verticaal in het midden */ 
        width: 100%}

    .footer-ul {
        list-style-type: none;           
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        padding: 0px;
        margin: -4px;}    
    
    .footer-text {
        font-size: 15px;
        display: flex;
        justify-content: center;
        margin-right: 50px}
       

    .footer-links {
        color: white;
        transition: color 0.4s}      
    
    .footer-links:hover {
        color: grey;
        background-color: #333  }   
/* Einde Footer Styling */

* {box-sizing: border-box;}


 




