/* Letters */
    h1, h2, ul, p {
    font-family: sans-serif;}

    h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: auto;
    font-size: 40px;
    text-align: center}

    h2 {
        font-size: 30px
    }

/* Einde letters */
body {
    background-color: lightgrey
    
}
p { 
    margin:auto;
    margin-top: 10px;}
/* Links */
    .navigation-links {
        font-size: 25px;
        float: left}
    .hzlogo {
        float: right;
            
    }
    img {
        height: 25px
    }


    /* Begin kleuren voor de links: */
    a:link {
    color:black;
    text-decoration: none}
    a:hover {
    color:black}
    a:visited {
    color:black}
    /* Einde kleuren voor de links */
/* Einde Links */
ul {
    list-style-type: none;
    margin: -10px;
    padding: 0;
    overflow: hidden;
    background-color: #C4A484;
  }
  
  li {
    list-style: none}
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;    
  }
  li a:hover {
    background-color: #111;
  }
  a:hover {
    color:white
  }
  
 


