/* Letters */
    h1, h2, ul, p {
    font-family: sans-serif;}

    h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: auto;
    font-size: 40px;
    text-align: center}

    h2 {
        font-size: 30px
        
    }

/* Einde letters */
body {
    background-color: #f0f0f0;
    margin: 0}

article {
    background-color:   
    margin: -10px}


p { 
    margin-top: -10px;}

/* Navigation bar*/
nav {
    box-sizing: border-box;
    width: 100%;
    background-color: #333;
    padding: 0px 10px;
    margin: 0;
}


.nav-content {
    display: flex;
    justify-content: space-between; /* Space between items */
    align-items: center; /* Centers items vertically */
}

.navigation-bar {
    list-style-type: none;           
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 0;
    margin: 0;

  }
/* Links */
    .navigation-links {
        font-size: 25px;
        margin: 0px 10px;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none; 
        }
    .hzlogo {
        margin-left: auto}

    img {
        height: 25px}

    li a:hover {
        background-color: #555;
        color:white;}   

/* Begin kleuren voor de links: */
     a:link {
        color: white;
        text-decoration: none}
     .navigation bar a:hover {
        color: white;}
     
     
     /* Laat zien op welke pagina je zit */
     #startpagina {
        background-color: #555;
        color: white;}
    #profiel {
        background-color: #555;
        color: white}
    #dashboard {
        background-color: #555;
        color: white}
    #faq {
        background-color: #555;
        color: white}
    #blog {
        background-color: #555;
        color: white}
        
/* Einde kleuren voor de links */

/* Einde Links */

  


 


