                                                                /* Letters Styling */
    * {
        font-family: sans-serif;}

    h1 {
        margin: 20px auto auto auto;
        font-size: 50px;
        text-align: center}

    
        
    h2 {
        font-size: 40px;
        margin: 0px 0px 0px 0px;
        text-align: center;}
                                                              /* StartPagina en Profiel */
    .kopje {
        margin: 40px auto 10px auto;
        text-align: center;
        font-size: 30px;}
    
    .hobbies {
        text-align: center;
        list-style-position: inside;
        font-size: 20px;
        margin: 10px auto auto auto;}
    
    .profiel-text-container {
        width: 90%;
        display: grid;
        column-template: column;
        gap: 0;
        margin: 15px auto;
    }

    .profiel-text {
      border: 3px solid #333;  
        font-size: 20px;
        margin: 0;
        padding: 10px;}

    .index-text {
      font-size: 20px;
      margin: 10px 50px 0 50px;
      padding: 10px;
      text-align: center;
      border: 3px solid #333;}
                                                                           /* Einde letters stylign */

                                                                /* Basis styling */
    body {
        background-color: #e0d7d7;
        margin: 0;
        min-height: 300px;
        margin-bottom: 100px}

    
                                                                 /* Table */
    table, td, th {
        border : 1.5px solid blue;
        border-collapse: collapse;}
          
    tr {
        text-align: center;}

    .schema {
      width: 98%;
      margin: 25px 0px 0px 10px;
      border: solid 3px #333}
    
    .bezig {
      background-color: yellow;}

    .niet-gestart {
      background-color: lightgrey;}
    
      .color-container {
      display: flex;
      justify-content: center;}

    .color-box {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      vertical-align: middle;
      border: 0.5px solid black;
      border-radius: 20%;}

    .niet-gestart {
      background-color: lightgray;}

    .in-progress {
      background-color: yellow;}

    .completed {
      background-color: lightgreen;}

    #totaal-box {
      border-top: 3px solid black;
    }

    input[type="text"] {
      background-color: transparent;
      border: 2px solid;  
      width: 50px;
      text-align: center;
      font-size: 16px}
      
    .progress-bar-container {
      position: relative;
      width: 50%;
      background-color: #e0e0e0;
      border-radius: 5px;
      overflow: hidden;
      margin: 20px auto;
    }

    .progress-bar {
      height: 20px;
      width: 0;
      background-color: red;
      transition: width 0.3s, background-color 0.3s;
    }

    .progress-text {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      line-height: 20px;
      font-weight: bold;
      color: #000;
    }
                                                                /* EINDE TABLE */
                                                                /* FAQ */
    .faq-container {  
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 590px;
        margin: auto;
        font-size: 20px;}

    .faq-questions {
        padding: 10px;
        border-radius: 10px; 
        border: solid 2px #333;
        margin: 30px 0 0 0;}

    .faq-text {
      margin: 10px 10px 0 10px;}
                                                                /* Einde FAQ */
                                                                /* BLOG */
    .grid-container {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 12px;}

    .grid-item {
        height: 150px;
        border: solid 4px #333;
        border-radius: 10px;
        margin: 5px;
        padding: 10px;
        box-sizing: border-box;}

    .readmore-container {
        text-align: center}

    .readmore {
        display: inline-block ;
        padding: 10px 20px;
        background-color: #333;
        text-decoration: none;
        border-radius: 10px;
        transition: background-color 0.4s;
        margin: 5px; 
        text-align: center}
      
    .readmore:hover {
        background-color: #555;}

    .readmore:visited {
        color: white}

    .blog-text {
        display: flex;
        align-items: center;
        font-size: 25px;
        border: solid 3px #333;
        padding: 10px 20px;
        margin: 30px 10px;}

    .blog-text-short {
          font-size: 25px;
          margin: auto;
          text-align: center}
    
    .blog-foto-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;
        max-width: 2000px;
        padding: 20px 10px;}

    .blog-foto {
        width: 100%;
        max-width: 350px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
        margin: 10px 0px 0px 50px}

    .swot-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 50px;}
    
    .swot-item {
      flex: 1;
      border-radius: 10px;
    }
    .swot-item h3 {
      display: flex;
      justify-content: center;
      font-size: 35px;
      margin-top: 0;}

    .ervaring{
      width: 80%;
      margin: 40px auto;
      align-items: center;
      text-align: center;}

    .ervaring h3 {
      font-size: 30px}

    .blog-text-ervaring {
      font-size: 25px;
      border: solid 3px #333;
      padding: 10px 20px;
      margin: 0px 0px;}

    .AI-voorbeelden-ul {
      display: flex;
      justify-content: center;}

    .AI-voorbeelden {
      font-size: 25px;
      margin-left: 50px;}

    .styled-hr {
      border: none;
      border-top: 1px solid #333;
      margin: 40px 0;}
    
                                                                /* Einde BLOG */
    
                                                                /* Navigation bar*/
    nav {
        box-sizing: border-box;
        width: 100%;
        background-color: #333;
        padding: 0px 10px;
        margin: 0;}

    .nav-content {
        display: flex;
        justify-content: space-between; 
        align-items: center;} 

    .navigation-bar {
        list-style-type: none;           
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-grow: 1;
        padding: 0;
        margin: 0;}
    
    .hzlogo {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 0;}
                                                                /* Links */
    .navigation-links {
        font-size: 25px;
        margin: 0px 10px;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: background-color 0.6s;}
    
    img {
        height: 25px}

    li a:hover {
        background-color: #555;
        color: white;} 
                                                                /* Begin kleuren voor de links: */
     a:link {
        color: white;
     }
     .navigation bar a:hover {
        color: white;}

    .faq-links {
        color: blue}

    .index-links {
      color: blue;}

    .index-links:visited {
      color: blue}
    
    .index-links:hover {
      color: darkblue;
      transition: color 0.4s
    }
                                                              /* Laat zien op welke pagina je zit */
    #startpagina {
        background-color: #555;
        color: white;}
    #profiel {
        background-color: #555;
        color: white}
    #dashboard {
        background-color: #555;
        color: white}
    #faq {
        background-color: #555;
        color: white}
    #blog {
        background-color: #555;
        color: white}
    #blog-post {
        background-color: #555;
        color: white}
                                                                /* Einde kleuren voor de links */

                                                                /* Einde Links */



                                                                /* Footer styling */
    footer {
        box-sizing: border-box;
        text-align: center;
        padding: 20px;
        background-color: #333;
        color: white;
        position: fixed;
        width: 100%;
        bottom: 0px;}

    .footer-container {
        display: flex;
        justify-content: space-between; /* Ruimte tussen de links */
        align-items: center; /*Verticaal in het midden */ 
        width: 100%}

    .footer-ul {
        list-style-type: none;           
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        padding: 0px;
        margin: -4px;}    
    
    .footer-text {
        font-size: 15px;
        display: flex;
        justify-content: center;
        margin-right: 50px}
       

    .footer-links {
        color: white;
        transition: color 0.4s;
        text-decoration: none;}      
    
    .footer-links:hover {
        color: grey;
        background-color: #333}   
                                                                /* Einde Footer Styling */
